.field {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/img/background.png);
  background-size: cover;
  background-position: center;
  
 
}

.card-stack {
  position: relative;

  img {
    position: absolute;
    width: 220px;
  }
}



.top-card {
  cursor: pointer;

  transition: all 125ms ease-in-out;

  &:hover {
    transform: scale(1.1) translateY(-10px);
  }
}


.played-card {
  right: 25px;
  height: 226px;
  width: 136px ;
  transform: scale(1.3) translateX(148px) translateY(-196px) rotate(13deg);
}

.pick-card {
  animation: pick-card-animation 1s ease-in-out;
  transform: scale(1.3) translateX(148px) translateY(-196px) rotate(13deg);

  @keyframes pick-card-animation {
    0% {
      transform: scale(1);
    }

    40% {
      transform: scale(1.7);
    }

    60% {
      transform: scale(1.7);
    }

    100% {
      transform: scale(1.3) translateX(140px) translateY(-180px) rotate(10deg);
    }
  }
}

.player-position {
  position: absolute;
  right: 0;
}

.button-add {
  position: absolute;
  right: 32px;
  bottom: 32px;
}

.bigger{
  width: 100px;
  height: 100px;

}

.pin-bottom {
  position: absolute;
  bottom: 40px;
  left: 200px;
  right: 200px;

 
}

.scroll-container {
  position: absolute;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  top: 0;
  left: 0;
  right: 0;

  app-player-mobile {
    margin-left: 7px;
    margin-bottom: 7px;
  }
}

@media (max-width: 960px) {
  .played-card {
  
    transform: scale(1.2) translateX(168px) translateY(-208px) rotate(13deg);
}

  .top-card {
    cursor: pointer;

    transition: all 125ms ease-in-out;

    &:hover {
      transform: scale(1.1) translateY(-10px);
    }
  }

  .pick-card {
    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1.2) translateX(168px) translateY(-208px) rotate(13deg);
  
    @keyframes pick-card-animation {
      0% {
        transform: scale(1);
      }
  
      40% {
        transform: scale(1.7);
      }
  
      60% {
        transform: scale(1.7);
      }
  
      100% {
        transform: scale(1.3) translateX(140px) translateY(-180px) rotate(10deg);
      }
    }
  }

  .card-stack {
    position: absolute;

    img {
      width: 86px;
    }
  }

  .button-add {
    position: absolute;
    right: 10px;
    bottom: 40px;
  }

  .pin-bottom{
    left: 40px;
    right: 138px;
}
}

@media(max-width:720px){
  .field{
    background-image: url(/assets/img/backgroun_mobile.png);
  }
}

@media (max-width:500px){

  .button-add{
    position: absolute;
    right: 16px;
    bottom: 16px;
}

  .bigger{
    width: 55px;
    height: 55px;
}
.pin-bottom {
  left: 16px;
  right: 16px;
  bottom: 82px;
  text-align: center;
  background-color: rgb(200 207 207 / 85%) !important;
}



.played-card {
  right: 25px;
  height: 196px;
  width: 127px !important;
  transform: scale(1.3) translateX(100px) translateY(-132px) rotate(13deg);
}



.mat-mdc-card{
  position: relative;
  
}

.mat-mdc-card-content{
  padding: 6px;
  font-size: 16px;
}

.title-info{
  font-size: 28px;
}

.card-stack{ 
  margin-left: 40px;
img{
  position: absolute;
  width: 148px ;
}
}





}

@media(max-width:1440px){
  .card-stack {
  
  img {
    position: absolute;
    width: 165px;
}
  }
}
